crm-tmp-code/TMP_Cerner_Integration/ARMTemplates/Not Used/azureDeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "location": {
            "type": "string",
            "allowedValues": [
                "usgovtexas",
                "usgovvirginia",
                "usgovarizona"
            ],
            "metadata": {
                "description": "Location for the resources."
            }
        },
        "logicAppName": {
            "type": "string",
            "defaultValue": "[uniqueString(resourceGroup().id)]",
            "metadata": {
                "description": "Name of the logic app to be created."
            }
        },
        "workflows_test1_name": {
            "defaultValue": "test1",
            "type": "String"
        },        
        "integrationAccounts_va_eis_tmp_ig_dev_name": {
            "defaultValue": "va-eis-tmp-ig-dev",
            "type": "String"
        },
        "integrationServiceEnvironments_eis_devtest_southwest_ise_externalid": {
            "defaultValue": "/subscriptions/c0eb1fa5-dd86-490c-bd98-217a85aaa1c9/resourceGroups/EIS-DEVTEST-INT-SOUTHWEST-EIS-RG/providers/Microsoft.Logic/integrationServiceEnvironments/eis-devtest-southwest-ise",
            "type": "String"
        },        
        "connections_servicebus_name": {
            "defaultValue": "servicebus",
            "type": "String"
        },
        "subscriptionID": {
            "type": "string",
            "defaultValue": "c0eb1fa5-dd86-490c-bd98-217a85aaa1c9",
            "metadata": {
                "description": "EIS-GOV-INTERNAL subscription ID."
            }
        },
        "resourceGroupName": {
            "type": "string",
            "defaultValue": "EIS-DEVTEST-INT-SOUTHWEST-EIS-RG",
            "metadata": {
                "description": "Name of the Resource Group."
            }
        },
        "workflows_va_eis_tmp_orchestrator_dev_name": {
            "type": "string",
            "defaultValue": "va-eis-tmp-orchestrator-dev",
            "metadata": {
                "description": "Name of the logic app to be created."
            }
        },
        "integrationAccounts_va_eis_tmp_ig_dev_externalid": {
            "defaultValue": "/subscriptions/c0eb1fa5-dd86-490c-bd98-217a85aaa1c9/resourceGroups/EIS-DEVTEST-INT-SOUTHWEST-EIS-RG/providers/Microsoft.Logic/integrationAccounts/va-eis-tmp-ig-dev",
            "type": "String"
        },
        "connections_servicebus_externalid": {
            "defaultValue": "/subscriptions/c0eb1fa5-dd86-490c-bd98-217a85aaa1c9/resourceGroups/EIS-DEVTEST-INT-SOUTHWEST-EIS-RG/providers/Microsoft.Web/connections/servicebus",
            "type": "String"
        },        
        "namespaces_vaeistmpservicebusdev_name": {
            "defaultValue": "vaeistmpservicebusdev",
            "type": "String"
        },
        "environment_name" : {
            "defaultValue": "DEVTEST",
            "type": "String"
        },
        "location_name" : {
            "defaultValue": "USGov Arizona",
            "type": "String"
        },
        "topic_name" : {
            "defaultValue": "servicetopictest",
            "type": "String"
        },
        "subscription_name" : {
            "defaultValue": "demosub",
            "type": "String"
        },        
        "iseName" : {
            "defaultValue": "eis-devtest-southwest-ise",
            "type": "String"
        },
        "iseResourceGroup" : {
            "defaultValue": "EIS-DEVTEST-INT-SOUTHWEST-EIS-RG",
            "type": "String"
        }
        
    },
    "resources": [
       
        {
            "type": "Microsoft.Logic/integrationAccounts",
            "apiVersion": "2016-06-01",
            "name": "[parameters('integrationAccounts_va_eis_tmp_ig_dev_name')]",
            "location": "usgovarizona",
            "tags": {
                "Project": "TMP",
                "CKID": "195",
                "Environment": "[parameters('environment_name')]",
                "ProjectName": "Veterans Experience Integration Solution",
                "VAAzureProgram": "EIS",
                "VAECID": "AZG20181226001"
            },
            "sku": {
                "name": "Standard"
            },
            "properties": {
                "integrationServiceEnvironment": {
                    "name": "eis-devtest-southwest-ise",
                    "id": "[parameters('integrationServiceEnvironments_eis_devtest_southwest_ise_externalid')]",
                    "type": "Microsoft.Logic/integrationServiceEnvironments"
                },
                "state": "Enabled"
            }
        },

        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2019-05-01",
            "name": "[parameters('logicAppName')]",
            "location": "[parameters('location')]",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "actions": {
                        "Response": {
                            "inputs": {
                                "statusCode": 200
                            },
                            "kind": "Http",
                            "runAfter": {},
                            "type": "Response"
                        }
                    },
                    "contentVersion": "1.0.0.0",
                    "outputs": {},
                    "parameters": {},
                    "triggers": {
                        "manual": {
                            "inputs": {},
                            "kind": "Http",
                            "type": "Request"
                        }
                    }
                },
                "parameters": {}            
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_test1_name')]",
            "location": "usgovarizona",
            "dependsOn": [
                "[resourceId('Microsoft.Logic/integrationAccounts/', parameters('integrationAccounts_va_eis_tmp_ig_dev_name'))]"
            ],            
            "tags": {
                "CKID": "195",
                "Environment": "DEVTEST",
                "ProjectName": "Veterans Experience Integration Solution",
                "VAAzureProgram": "EIS",
                "VAECID": "AZG20181226001"
            },
            "properties": {
                "state": "Enabled",
                "integrationAccount": {
                    "id": "[parameters('integrationAccounts_va_eis_tmp_ig_dev_externalid')]"
                },                
                "integrationServiceEnvironment": {
                    "name": "[parameters('iseName')]",
                    "id": "[resourceId(parameters('iseResourceGroup'),'Microsoft.Logic/integrationServiceEnvironments/',parameters('iseName'))]",
                    "type": "Microsoft.Logic/integrationServiceEnvironments"
                },                                
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {},
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {}
                        }
                    },
                    "actions": {
                        "Compose": {
                            "runAfter": {},
                            "type": "Compose",
                            "inputs": "This is a test"
                        },
                        "Response": {
                            "runAfter": {
                                "Compose": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "statusCode": 200
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {}
            }
        },        
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_va_eis_tmp_orchestrator_dev_name')]",
            "location": "usgovarizona",
            "dependsOn": [
                "[resourceId('Microsoft.Logic/integrationAccounts/', parameters('integrationAccounts_va_eis_tmp_ig_dev_name'))]",
                "[resourceId('Microsoft.ServiceBus/namespaces', parameters('namespaces_vaeistmpservicebusdev_name'))]",
                "[resourceId('Microsoft.Web/connections/', parameters('connections_servicebus_name'))]"

            ],             
            "tags": {
                "CKID": "195",
                "Environment": "[parameters('environment_name')]",
                "ProjectName": "Veterans Experience Integration Solution",
                "VAAzureProgram": "EIS",
                "VAECID": "AZG20181226001"
            },
            "properties": {
                "state": "Enabled",
                "integrationAccount": {
                    "id": "[parameters('integrationAccounts_va_eis_tmp_ig_dev_externalid')]"
                },
                "integrationServiceEnvironment": {
                    "name": "[parameters('iseName')]",
                    "id": "[resourceId(parameters('iseResourceGroup'),'Microsoft.Logic/integrationServiceEnvironments/',parameters('iseName'))]",
                    "type": "Microsoft.Logic/integrationServiceEnvironments"
                },                
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "method": "POST",
                                "relativePath": "MakeCancelAppointment",
                                "schema": {
                                    "properties": {
                                        "Msg": {
                                            "type": "string"
                                        },
                                        "MsgType": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": [
                                                "string",
                                                null
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Body": {
                            "runAfter": {},
                            "type": "Compose",
                            "inputs": "@json('{ \"firstName\": \"Sophia\", \"lastName\": \"Owen\" }')"
                        },
                        "Compose": {
                            "runAfter": {
                                "Send_message": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "@triggerBody()?['Msg']"
                        },
                        "Response": {
                            "runAfter": {
                                "Compose": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "statusCode": 200
                            }
                        },
                        "Send_message": {
                            "runAfter": {
                                "Body": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "ContentType": "application/json",
                                    "Properties": "@outputs('Body')"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['servicebus']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/@{encodeURIComponent(encodeURIComponent('servicetopictest'))}/messages",
                                "queries": {
                                    "systemProperties": "None"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "servicebus": {
                                "connectionId": "[parameters('connections_servicebus_externalid')]",
                                "connectionName": "servicebus",
                                "id": "/subscriptions/c0eb1fa5-dd86-490c-bd98-217a85aaa1c9/providers/Microsoft.Web/locations/usgovarizona/managedApis/servicebus"
                            }
                        }
                    }
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_servicebus_name')]",
            "location": "usgovarizona",
            "tags": {
                "CKID": "195",
                "Environment": "[parameters('environment_name')]",
                "ProjectName": "Veterans Experience Integration Solution",
                "VAAzureProgram": "EIS",
                "VAECID": "AZG20181226001"
            },
            "kind": "V1",
            "properties": {
                "displayName": "ConnectionTes",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/c0eb1fa5-dd86-490c-bd98-217a85aaa1c9/providers/Microsoft.Web/locations/usgovarizona/managedApis/', parameters('connections_servicebus_name'))]"
                }
            }
        },

        {
            "type": "Microsoft.ServiceBus/namespaces",
            "apiVersion": "2018-01-01-preview",
            "name": "[parameters('namespaces_vaeistmpservicebusdev_name')]",
            "location": "[parameters('location_name')]",
            "tags": {
                "Project": "TMP",
                "CKID": "195",
                "Environment": "[parameters('environment_name')]",
                "ProjectName": "Veterans Experience Integration Solution",
                "VAAzureProgram": "EIS",
                "VAECID": "AZG20181226001"
            },
            "sku": {
                "name": "Premium",
                "tier": "Premium",
                "capacity": 1
            },
            "properties": {
                "zoneRedundant": false
            }
        },
        {
            "type": "Microsoft.ServiceBus/namespaces/AuthorizationRules",
            "apiVersion": "2017-04-01",
            "name": "[concat(parameters('namespaces_vaeistmpservicebusdev_name'), '/RootManageSharedAccessKey')]",
            "location": "USGov Arizona",
            "dependsOn": [
                "[resourceId('Microsoft.ServiceBus/namespaces', parameters('namespaces_vaeistmpservicebusdev_name'))]"
            ],
            "properties": {
                "rights": [
                    "Listen",
                    "Manage",
                    "Send"
                ]
            }
        },
        {
            "type": "Microsoft.ServiceBus/namespaces/networkRuleSets",
            "apiVersion": "2018-01-01-preview",
            "name": "[concat(parameters('namespaces_vaeistmpservicebusdev_name'), '/default')]",
            "location": "USGov Arizona",
            "dependsOn": [
                "[resourceId('Microsoft.ServiceBus/namespaces', parameters('namespaces_vaeistmpservicebusdev_name'))]"
            ],
            "properties": {
                "defaultAction": "Deny",
                "virtualNetworkRules": [],
                "ipRules": []
            }
        },
        {
            "type": "Microsoft.ServiceBus/namespaces/topics",
            "apiVersion": "2017-04-01",
            "name": "[concat(parameters('namespaces_vaeistmpservicebusdev_name'), '/', parameters('topic_name'))]",
            "location": "USGov Arizona",
            "dependsOn": [
                "[resourceId('Microsoft.ServiceBus/namespaces', parameters('namespaces_vaeistmpservicebusdev_name'))]"
            ],
            "properties": {
                "defaultMessageTimeToLive": "P14D",
                "maxSizeInMegabytes": 1024,
                "requiresDuplicateDetection": false,
                "duplicateDetectionHistoryTimeWindow": "PT10M",
                "enableBatchedOperations": true,
                "status": "Active",
                "supportOrdering": true,
                "autoDeleteOnIdle": "P10675199DT2H48M5.4775807S",
                "enablePartitioning": false,
                "enableExpress": false
            }
        },
        {
            "type": "Microsoft.ServiceBus/namespaces/topics/subscriptions",
            "apiVersion": "2017-04-01",
            "name": "[concat(parameters('namespaces_vaeistmpservicebusdev_name'), '/', parameters('topic_name'), '/', parameters('subscription_name'))]",
            "location": "USGov Arizona",
            "dependsOn": [
                "[resourceId('Microsoft.ServiceBus/namespaces/topics', parameters('namespaces_vaeistmpservicebusdev_name'), parameters('topic_name'))]",
                "[resourceId('Microsoft.ServiceBus/namespaces', parameters('namespaces_vaeistmpservicebusdev_name'))]"
            ],
            "properties": {
                "lockDuration": "PT30S",
                "requiresSession": false,
                "defaultMessageTimeToLive": "P14D",
                "deadLetteringOnMessageExpiration": false,
                "deadLetteringOnFilterEvaluationExceptions": false,
                "maxDeliveryCount": 20,
                "status": "Active",
                "enableBatchedOperations": true,
                "autoDeleteOnIdle": "P14D"
            }
        }
        
    ],
    "outputs": { }
}